<!DOCTYPE html>
<html lang="en" class="overlay-root">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=1920, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title default="Showish overlay">{assigns[:page_title]}</.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/css/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/js/app.js"}>
    </script>
  </head>
  <body class="overlay-root">
    {@inner_content}
  </body>
</html>
